.container {
    height: 100vh;
  }
  
  .row {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .card {
    border-radius: 8px;
  }
  
  .card-header {
    font-weight: bold;
  }
  body {
    margin: 0; /* Ensure there are no margins */
    padding: 0; /* Ensure there are no padding */
    background-image: url('../../../assets/images/b2.jpg'); 
    height: 100%;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
  }