<nav class="navbar">
  <div class="navbar-links">
    <!-- <a routerLink="/home" routerLinkActive="active">Home</a>
      <a routerLink="/about" routerLinkActive="active">About</a>
      <a routerLink="/services" routerLinkActive="active">Services</a>
      <a routerLink="/login" routerLinkActive="active">Login</a> 
       <a routerLink="/signup" routerLinkActive="active">Sign Up</a>
      <a routerLink="/logout" routerLinkActive="active">Logout</a> -->
    <a routerLink="/{{menu}}" routerLinkActive="active" *ngFor="let menu of dashBoardItems">{{menu}}</a>
  </div>
  <h3>EFMART Enterprises</h3>
</nav>